Data/
Clase05/__pycache__/*
Programación en Python Archivos/*
Clase01/__pycache__/*
Correcciones entre pares/__pycache__/*
Clase02/__pycache__/*
Clase03/__pycache__/*
Clase04/__pycache__/*
Clase05/__pycache__/*
Clase06/__pycache__/*
Clase07/__pycache__/
Clase07/__pycache__/*
Clase08/__pycache__/*
Clase09/__pycache__/*
Clase10/__pycache__/*
Clase11/__pycache__/*
Clase12/__pycache__/*
*.lnk